# Eclipse folders
Release/
Debug/
FM9/FM9
DAM/DAM
S-AFA/SAFA
CPU/CPU
MDJ/MDJ
MDJ/.settings/language.settings.xml
S-AFA/.settings/language.settings.xml
FM9/.settings/language.settings.xml
DAM/.settings/language.settings.xml
CPU/.settings/language.settings.xml
biblioteca/.settings/language.settings.xml

# Logs
*.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Debug/
/.metadata/

# Visual studio files
.vscode
